In [9]:
import pandas as pd

# replace 'data.csv' with your actual file path
Mardakan = pd.read_csv('../data/Mardakan.csv')
Mardakan.head()

,TARİX,XÜSUSİ ÇƏKİ\n(kq/m3),TƏZYİQLƏR\nFƏRQİ (kPa),TƏZYİQ (kPa),TEMPERATUR\n(C),SAATLIQ\nSƏRF(min m3),SƏRF (min m3)
0,01-01-2018 01:00,0.73703,6.1342,593.740,10.513,4.494,107.860
1,01-01-2018 02:00,0.73703,5.8290,606.206,10.330,4.430,106.316
2,01-01-2018 03:00,0.73703,5.9273,581.200,9.987,4.374,104.987
3,01-01-2018 04:00,0.73703,6.0022,561.711,10.138,4.325,103.795
4,01-01-2018 05:00,0.73703,5.6887,586.612,10.315,4.304,103.287